<!doctype html>
<html lang="en">
  <head>
    <title>Software sucks</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Software sucks</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">

    <link href="//prismjs.catppuccin.com/mocha.css" rel="stylesheet" />

    <link rel="stylesheet" href="{{ get_url(path='css/style.css') }}" />

    <script data-goatcounter="https://blog-onebugman.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>

    {% block rss %}
      <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
    {% endblock %}
  </head>
  <body>
    <header>
      <h1>
        <a href="{{ get_url(path='/') }}">(~ software sucks)</a>
      </h1>

      <nav>
        <a href="{{ get_url(path='@/blogposts/_index.md') }}">[ dev ]</a>
        <a href="{{ get_url(path='@/pot-pourri/_index.md') }}">[ pot-pourri ]</a>
        <a href="{{ get_url(path='@/random/_index.md') }}">[ random ]</a>
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
    <footer>
      <a href="{{ get_url(path="/rss.xml") }}">Flux RSS</a>
      <a href="https://blog-onebugman.goatcounter.com/" target="_blank" rel="noopener">Stats</a>
      <p style="margin-left: auto">© Not made by a LLM</p>
    </footer>
  </body>
</html>
