{% extends "base.html" %}

{% block content %}
  <section class="blogpost-header">
      <h1>{{ page.title }}</h1>
      <small class="date">Publié le {{ page.date | date(format="%d-%m-%Y") }}</small>
  </section>

  <details id="table-of-content">
        <summary>Table des matières</summary>
        <ul>
        {% for h1 in page.toc %}
            <li>
                <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                {% if h1.children %}
                    <ul>
                        {% for h2 in h1.children %}
                            <li>
                                <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
  </details>

  {{ page.content | safe }}
{% endblock content %}
