{% extends "base.html" %}

{% block content %}
<h2>Précédemment</h2>

{% if not paginator.pages | first %}
    <p>Patience, ça arrive</p>
{% else %}
  <div class="posts">
    {% for page in paginator.pages %}
    <div class="post">
      <h3 class="post-title">
          <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
      </h3>
      <div class="post-details">
          <span class="post-date">Publié le {{ page.date }}</span>
      </div>
    </div>
    {% endfor %}
  </div>
{% endif %}

{% endblock content %}
