{% extends "base.html" %} {% block content %}

<section class="blogpost">
  <h1>{{ page.title }}</h1>

  <p class="date">{{page.date}}</p>

  {{ page.content | safe }}
</section>

{% endblock content %}
